@media (max-width: 768px) {
    /* Your mobile-specific styles here */
    input[type="text"] {
        height: 40px; /* Adjust the height as needed */
        font-size: 16px; /* Adjust the font size as needed */
    }

    select {
        height: 40px; /* Adjust the height as needed */
        font-size: 16px; /* Adjust the font size as needed */
    }

    .navbar {
        padding: 20px; /* Adjust the padding as needed */
        height: 80px; /* Adjust the height as needed */
    }
    
    .nav-link {
        font-size: 18px; /* Adjust the font size as needed */
    }
    
    .btn-link {
        padding: 15px; /* Adjust the padding as needed */
        font-size: 18px; /* Adjust the font size as needed */
    }
                
}
